body {
	background: url(12_col.gif) center top repeat-y;
	background-size: 90%;
}

#grid {
	
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  height: 100vh;
  margin: 20px 20px 20px 20px;
}
#grid  > div {
  color: #060000;
  font-size: 1,5vw;
  padding: 10px;
  border: 2px solid #333;}
#item1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 5;
  }
  #item2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  }
  #item3 {
  grid-row-start:2 ;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 4;
  }
  #item4 {
  grid-row-start:2 ;
  grid-column-start:4;
  grid-row-end: 3;
  grid-column-end:5;
  }
  #item5 {
  grid-row-start:3 ;
  grid-column-start:1;
  grid-row-end: 4;
  grid-column-end:4;
  }
   #item6{
  grid-row-start:3 ;
  grid-column-start:4;
  grid-row-end: 4;
  grid-column-end:5;
  }
#inner-grid{
  grid-row-start:4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 5;  
  }
  #inner-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
#inner-grid > div {
  color: #060000;
  font-size: 1,5vw;
  padding: 10px;
  margin:5px;
  border: 2px solid #333;
}
      @media all and (max-width: 960px){
      #inner-grid
      {
      grid-template-columns: 1fr 1fr;
    
      }
    div{
      margin: 10px 0;

    }
  }
  @media only screen and (max-width:768px) {
  #grid{
    display: block;}
    #inner-grid{
    display: block;
    height: 720px;}
    div{
      margin: 10px 0;
height: 150px;
    }
    }